@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color: #808080;
  --background: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color: #fffefb;
    --background: #18181b;
  }
}

body {
  color: var(--color);
  background: var(--background);
}

p {
  @apply tracking-wide leading-8 my-4 text-xl;
}
